@import url("https://fonts.cdnfonts.com/css/whitney-2");

:root {
  --primary-color: #404eed;
  --brand: rgb(89, 102, 243);
  --brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
  --greyple: #99aab5;
  --dark-not-black: #2c2f33;
  --focus-border: #00b0f4;
  --status-green: #43b581;
  --text-link: #00b0f4;
  --off-white: #f6f6f6;
  --white: #fff;
  --not-quite-black: #23272a;
  --not-quite-black-rgb: 35, 39, 42;
  --black: #000;
  --ekko-red: #de2761;

  --font-primary: "Whitney";
  --font-display: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-headline: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-monospace: "Menlo", "Consolas", "Monaco", monospace;
  --font-glitch: "ArchivoBlack", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-cursive: "Reenie Beanie", "Comic Sans MS", cursive, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;

}

header {
  font-family: "Whitney", sans-serif;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 200px;
  padding: 10px 13px;
  font-family: "Whitney";
  transition: 0.3s ease;
}

.flex {
  display: flex;
}

/* SVG Background */

.hero-svg1, #middle{
  /* height: 100%; */
  position: absolute;
  bottom: 0;
  left: -20%;
}

.hero-svg2, #left {
  position: absolute;
  bottom: 0;
  left: -5%;
}

.hero-svg3, #right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero {
    position: relative;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.nav-items {
  display: flex;
}

.navbar img {
  width: 150px;
  cursor: pointer;
}

.nav-items li {
  list-style: none;
  margin: 0 20px;
}

.nav-items li a {
  text-decoration: none;
  color: var(--white);
  font-family: "Whitney";
  font-size: 16px;
  font-weight: 600;
}

.nav-items li a:hover {
  border-bottom: 2px white solid;
}

.login-btn:hover {
  cursor: pointer;
  color: var(--brand);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Hero */

.hero {
  justify-content: center;
  align-items: center;
  min-height: 76vh;
  background-color: var(--primary-color);
}

.hero-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 765px;
  color: var(--white);
  /* background-color: red; */
  z-index: 1;
}

.intro-container h1 {
  font-family: var(--font-headline);
  /* font-weight: 800; */
  padding-bottom: 30px;
  padding-top: 55px;
  font-size: 60px;
  text-transform: uppercase;
}

.intro-container p {
  font-family: "Whitney";
  font-size: 20px;
  line-height: 1.625;
  padding-bottom: 35px;
}

.btn-download,
.btn-open {
  margin-right: 20px;
  border-radius: 30px;
  padding: 16px 35px;
  margin-left: 2px;
  font-size: 20px;
}

.btn-download:hover {
  cursor: pointer;
  color: var(--brand);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-open {
  background-color: var(--not-quite-black);

  color: var(--white);
}

.btn-open:hover {
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--dark-not-black);
}

/* Section 1 */

.section-1 {
  justify-content: center;
  align-items: center;
  min-height: 76vh;
  gap: 80px;
  background-color: #fff;
}

.svg-container {
  margin-bottom: 20px;
}

.section-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
}

.section-content h2 {
  font-family: var(--font-headline);
  font-size: 54px;
  padding-bottom: 25px;
  max-width: 380px;
}

.section-content p {
  font-size: 18px;
  line-height: 1.625;
  padding-bottom: 25px;
  font-family: "Whitney";
  font-weight: 400;
  max-width: 380px;
}

/* Section 2 */

.section-2 {
  justify-content: center;
  align-items: center;
  min-height: 76vh;
  gap: 80px;
  background-color: #f6f6f6;
}

/* Section 3 */

.section-3 {
  justify-content: center;
  align-items: center;
  min-height: 76vh;
  gap: 80px;
  background-color: #fff;

}

/* Section 4 */

.section-4 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 76vh;
  background-color: #f6f6f6;
}

.section-content-4 {
  max-width: 800px;
  text-align: center;
}

.section-content-4 h2 {
  font-family: var(--font-headline);
  font-size: 54px;
  padding-bottom: 25px;
  margin-top: 100px;
}

.section-content-4 p {
  font-size: 18px;
  line-height: 1.625;
  padding-bottom: 25px;
  font-family: "Whitney";
  font-weight: 400;
}

.svg-container-4 img{
    width: 130%;
}

.svg-container-4 {
    margin-right: 200px;
}

/* Button Section */

.start-btn {
    min-height: 35vh;
    background-color: var(--off-white);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-start {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 16px 35px;
    margin-left: 2px;
    font-size: 20px;
    background-color: var(--brand);
    color: var(--white);
}

.btn-start:hover {
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(89, 102, 243, 0.825);
}

/* Footer */

.footer {
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  min-height: 60vh;
  background-color: var(--not-quite-black);
  align-content: flex-start;
}

.footer > * {
    padding-top: 100px;
    color: var(--brand);
    align-self: stretch;
}
.col {
    display: flex;
    flex-direction: column;
    min-width: 10vw;
}

.col > * {
    margin-bottom: 14px;
}

.col > a {
    text-decoration: none;
    color: var(--white);
    font-family: "Whitney";
    font-size: 16px;
    font-weight: 400;
}

.col > a:hover {
    border-bottom: 2px white solid;

    max-width: fit-content;
}

.col > h4 {
    font-family: "Whitney";
    font-weight: 400;

}

.col-1 {
    margin-right: 50px;
    max-width: 6vw;
}
.spacer {
    width: 70px;
}

@media screen and (max-width: 1440px) {

  .hero-svg1, #middle{
    position: absolute;
    bottom: 0;
    left: -40%;
  }

  .hero-svg2, #left {
    position: absolute;
    bottom: 0;
    left: -20%;
  }
  
  .hero-svg3, #right {
    position: absolute;
    bottom: 0;
    right: -15%;
  }
}

@media screen and (max-width: 1024px) {

  .hero-svg1, #middle{
    position: absolute;
    bottom: 0;
    left: -80%;
  }

  .hero-svg2, #left {
    position: absolute;
    bottom: 0;
    left: -50%;
  }
  
  .hero-svg3, #right {
    position: absolute;
    bottom: 0;
    right: -40%;
  }

  .svg-container-4 img{
    width: 115%;
  }

  .section-content:nth-child(0),
  .section-content:nth-child(2) {
    margin-right: 20px;
  }

  .section-content:nth-child(1) {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1000px) {

  .hero-svg1, #middle{
    left: -70%;
    width: 160%;
  }

  .hero-svg2, #left {
    display: none;
  }

  .hero {
    min-height: 100vh;
  }

  .hero-content {
  text-align: left;  
  align-items: flex-start;
  padding-right: 185px;
  padding-bottom: 60px;
  }

  .hero-content h1 {
    max-width: 500px;
  }

  .hero-content p {
    font-size: 16px;
    max-width: 415px;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-buttons button {
    margin-bottom: 24px;
  }
  
  .hero-svg3, #right {
    position: absolute;
    bottom: 0;
    right: -11%;
    width: 89%;
  }

  .nav-items {
    display: none;
  }

  .section-content h2 {
    max-width: 700px;
  }

  .svg-container img {
    width: 100%;
  }

  .section-1,
  .section-2,
  .section-3{
    gap: 20px;
  }

  .section-4 img {
    margin-left: 50px;
  }

  .section-content-4{
    margin: 0 20px;
  }


}