:root {
  --brand: #5865f2;
  --brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
  --greyple: #99aab5;
  --dark-not-black: #2c2f33;
  --focus-border: #00b0f4;
  --status-green: #43b581;
  --text-link: #00b0f4;
  --off-white: #f6f6f6;
  --white: #fff;
  --not-quite-black: #23272a;
  --not-quite-black-rgb: 35, 39, 42;
  --black: #000;
  --ekko-red: #de2761;

  --font-primary: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-display: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-headline: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-monospace: "Menlo", "Consolas", "Monaco", monospace;
  --font-glitch: "ArchivoBlack", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-cursive: "Reenie Beanie", "Comic Sans MS", cursive, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.btn {
  border: none;
  padding: 15px 16px;
  border-radius: 40px;
}

.hero {
  justify-content: center;
  align-items: center;
  min-height: 76vh;
  background-color: blue;
}

.hero-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 750px;
  background-color: red;
}

.intro-container h1{
  font-family: var(--font-headline);
  /* font-weight: 800; */
  padding-bottom: 25px;
  font-size: 60px;
  text-transform: uppercase;
}

.intro-container p {
  font-size: 20px;
  line-height: 1.625;
  padding-bottom: 25px;
}

.btn-download,
.btn-open {
  font-size: 15px;
}