@import url('https://fonts.cdnfonts.com/css/whitney-2');

:root {
  --brand: rgb(88, 101, 242);
  --brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
  --greyple: #99aab5;
  --dark-not-black: #2c2f33;
  --focus-border: #00b0f4;
  --status-green: #43b581;
  --text-link: #00b0f4;
  --off-white: #f6f6f6;
  --white: #fff;
  --not-quite-black: #23272a;
  --not-quite-black-rgb: 35, 39, 42;
  --black: #000;
  --ekko-red: #de2761;

  --font-primary: "Whitney";
  --font-display: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-headline: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-monospace: "Menlo", "Consolas", "Monaco", monospace;
  --font-glitch: "ArchivoBlack", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --font-cursive: "Reenie Beanie", "Comic Sans MS", cursive, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
    font-family: 'Whitney', sans-serif;
    background:transparent;
    position: absolute;
    width: 100%;
    
}

.btn {
    background-color: white;
    border: none;
    border-radius: 200px;
    padding: 10px 13px;
    font-family: 'Whitney';
    transition: 0.3s ease;
}

.flex {
  display: flex;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.nav-items {
    display: flex;
}

.navbar img {
    width: 150px;
    cursor: pointer;
}

.nav-items li {
    list-style: none;
    margin: 0 20px;
}

.nav-items li a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Whitney';
    font-size: 16px;
    font-weight: 600;
}

.nav-items li a:hover {
    border-bottom: 2px white solid;
}

.login-btn:hover {
    cursor: pointer;
    color: var(--brand);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Hero */

.hero {
  justify-content: center;
  align-items: center;
  min-height: 70.5vh;
  background-color: blue;
}

.hero-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 750px;
  background-color: red;
}

.intro-container h1{
  font-family: var(--font-headline);
  /* font-weight: 800; */
  padding-bottom: 25px;
  font-size: 60px;
  text-transform: uppercase;
}

.intro-container p {
  font-size: 20px;
  line-height: 1.625;
  padding-bottom: 25px;
}

.btn-download,
.btn-open {
  font-size: 15px;
}


/* Section 1 */

.section-1 {
  justify-content: center;
  align-items: center;
  min-height: 70.5vh;
}